@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gorditas:700|Knewave&display=swap');

/* Cambiamos el color de los hint de los input */
::placeholder {
  color: #000;
}

* {
  font-family: "Dejavu Sans";
  text-align: center;
}

body {
  background: url("../img/fondoBody.png") repeat;
}

footer button {
  padding: 20px;
}

footer div {
  padding: 20px;
  text-align: center;
}

footer {
  background: url("../img/fondo4.png") repeat;
  border: 4px solid #615839;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 23px -2px rgba(89, 75, 29, 1);
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 1%;
  animation: footer 1s;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 300px;
}

input:focus {
  outline: none;
}

pre {
  font-family: 'Bitter', serif;
}

table {
  margin: 0 auto;
  padding: 12%;
}

table, th, td {
  border: 1px solid #000;
}

#altavoz {
  margin-top: 1%;
  position: relative;
  right: 92%;
  width: 4%;
}

#imagen {
  margin-top: 31%;
  margin-left: 22%;
  width: 128%;
}

#pista {
  -webkit-text-stroke: 1px #000;
  color: #f0e892;
  font-family: 'Alfa Slab One', cursive;
  font-size: 3em;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  text-transform: uppercase;
  animation: pista 1s;
}

#puntuacionH2 {
  font-family: 'Bitter', serif;
  margin: 0 auto;
  margin-top: 4%;
  width: fit-content;
}

#resultado {
  font-family: 'Bitter', serif;
  font-size: 2em;
}

.imagenDiv {
  float: left;
  margin-left: 6%;
  width: 13%;
}

.intentosH2 span {
  color: #FFF;
  font-family: 'Gorditas', cursive;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.intentosH2 {
  color: #FFF;
  font-family: 'Gorditas', cursive;
  font-size: 3em;
  margin: 0 auto;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
  transform: rotate(20deg);
  width: fit-content;
}

.juegoDiv * {
  text-align: center;
}

.juegoDiv input {
  display: block;
  margin: 6% auto;
}

.juegoDiv {
  background-color: #ddca85;
  border: 4px solid #615839;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 23px -2px rgba(89, 75, 29, 1), inset 5px 5px 56px 4px #998746;
  float: left;
  height: auto;
  margin-left: 14%;
  margin-top: 2%;
  margin-bottom: 2.5%;
  position: relative;
  width: 58%;
}

.pistaIntentosDiv h1 {
  float: left;
  margin-left: 20%;
}

.pistaIntentosDiv h2 {
  float: left;
  margin-top: 3%;
  width: 31%;
}

.pistaIntentosDiv {
  overflow: hidden;
  padding-left: 12%;
}

.principal {
  background: url("../img/fondo4.png") repeat;
  border: 4px solid #615839;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 23px -2px rgba(89, 75, 29, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
